@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #010b19;

  color: #e3ecfc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.a-h-header.is-open .a-h-header-background {
  left: 0;
}
.a-h-header-button-wrapper {
  margin-left: auto;
}
.a-h-header-icon {
  display: none;
}

.a-h-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.a-h-navigation-list.is-open {
  right: 0;
}
.a-h-header-icon-menu {
  display: block;
}

.a-h-header-icon-button.is-open .a-h-header-icon-menu {
  display: none;
}

.a-h-header-icon-button.is-open .a-h-header-icon-close {
  display: block;
}

.a-h-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;

  background: #041e3f1a;
}

.a-h-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #010b19;
}
.a-h-header.is-open .a-h-header-background {
  left: 0;
}
.a-h-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.a-h-header-icon-menu {
  display: block;
}

.a-h-header-icon-button.is-open .a-h-header-icon-menu {
  display: none;
}

.a-h-header-icon-button.is-open .a-h-header-icon-close {
  display: block;
}

.a-h-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.a-h-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 48px 0;

  gap: 25px;
  background: #010b19;
}

.a-h-navigation-list.is-open {
  right: 0;
}

.a-h-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #6b7a8c;
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.a-h-navigation-link:hover,
.a-h-navigatioт-link:focus {
  color: #e3ecfc;
}

.a-h-header.is-open {
  background-color: transparent;
}

.a-h-navigation-img {
  display: none;
}
.a-h-header-terms {
  background-color: transparent;
}
.a-h-header-terms-img {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  color: #e3ecfc;
  text-decoration: none;
  padding-top: 20px;
}
@media screen and (min-width: 1203px) {
  .a-h-navigation-img {
    display: block;
    margin-right: 230px;
  }
  .a-h-header-terms-img {
    padding-top: 50px;
    padding-left: 120px;
  }
  .a-h-policy-terms-header-icon-menu {
    display: none;
  }
  .a-h-header-button-wrapper {
    display: none;
  }
  .a-h-header {
    width: 100%;
    height: 58px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: #041e3f1a;
  }

  .a-h-header-icon-button {
    display: none;
  }
  .a-h-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 0px;
    margin: auto;
  }

  .a-h-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 40px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .a-h-navigation-link {
    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .a-h-navigation-link:hover,
  .a-h-navigation-link:focus {
  }

  .a-h-navigation-item-desk {
    display: none;
  }
  .a-h-header-terms {
    background-color: transparent;
  }
}

.a-h-home {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/1\ home\ mob.png");
  margin: auto;
}
.a-h-home-container {
  width: 375px;
  padding: 88px 21px 0;
  margin: auto;
}

.a-h-home-container-top {
  display: flex;
  flex-direction: column;
  gap: 298px;
  padding-top: 64px;
}
.a-h-home-title-img {
  width: 333px;
}
.a-h-home-title {
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;
}

.a-h-home-text {
  width: 154px;
}

@media screen and (min-width: 1203px) {
  .a-h-home {
    width: auto;
    height: 824px;
    background-image: url("/img/1.\ HOME.png");
  }
  .a-h-home-container {
    width: 1440px;
    padding: 138px 120px 0px;
  }

  .a-h-home-title-img {
    width: 447px;
  }
  .a-h-home-container-top {
    display: flex;
    flex-direction: row;
    gap: 630px;
    padding-top: 376px;
  }
  .a-h-home-title {
    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }

  .a-h-home-text {
    width: 206px;
  }
}

.a-h-about-title-divs {
  background: linear-gradient(180deg, #010b19 0%, #041e3f 100%);
}
.a-h-about-title {
  margin: auto;
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;

  color: #e3ecfc;
  width: 375px;
  height: 120px;

  padding-top: 80px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;

  text-align: center;
}
.a-h-about-container {
  width: 375px;
  padding: 80px 26px;
  margin: auto;
}
.a-h-about-title-two {
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #68ccf9;
}
.a-h-about-text {
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding-top: 56px;
}

@media screen and (min-width: 1203px) {
  .a-h-about-title {
    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .a-h-about-container {
    width: 1440px;
    padding: 80px 264px;
    margin: auto;
  }
  .a-h-about-title-two {
    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .a-h-about-text {
    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 56px;
  }
}

.a-h-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 0px;
}
.a-h-why-list {
  padding-top: 56px;

  display: flex;
  flex-direction: column;
}

.a-h-why-item {
  display: flex;
  flex-direction: column;

  gap: 16px;
}
.a-h-why-img {
  width: 375px;
  height: 201px;
}
.a-h-why-text-bold {
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;
  text-transform: uppercase;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgba(61, 120, 147, 0) 0%,
    #68ccf9 100%
  );
  padding: 12px 0px 16px;
  margin: 0 32px;
}
.a-h-why-text {
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;
  padding-bottom: 12px;
  margin: 0 32px;
}
.a-h-why-item-two {
  text-align: left;
}
.a-h-why-item-twoq {
  border-image-source: linear-gradient(
    90deg,
    #68ccf9 0%,
    rgba(61, 120, 147, 0) 100%
  );
  border-image-slice: 1;
}
@media screen and (min-width: 1203px) {
  .a-h-why-container {
    width: 1440px;
    padding: 80px 0px;
  }

  .a-h-why-list {
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a-h-why-item {
    width: 720px;
    height: 536px;

    gap: 16px;
  }
  .a-h-why-img {
    width: 720px;
    height: 386px;
  }
  .a-h-why-text-bold {
    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;
    text-transform: uppercase;

    padding: 12px 0px 16px;
    margin: 0 32px;
    width: 584px;
    margin-left: auto;
  }
  .a-h-why-text {
    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;
    padding-bottom: 12px;
    margin: 0 32px;
    width: 410px;

    margin-left: auto;
  }
  .a-h-why-item-two {
    text-align: left;
    margin: 0 auto 0 0;
  }
  .a-h-why-item-twoq {
    border-image-source: linear-gradient(
      90deg,
      #68ccf9 0%,
      rgba(61, 120, 147, 0) 100%
    );
    border-image-slice: 1;
  }
}

.a-h-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 80px 21px;
}
.a-h-uniqueness-list {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.a-h-uniqueness-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 8px;
}
.a-h-uniqueness-img {
  width: 48px;
}
.a-h-uniqueness-text-bold {
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 12px;
}
.a-h-uniqueness-text {
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 0 12px;
}

@media screen and (min-width: 1203px) {
  .a-h-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 80px 131px;
  }
  .a-h-uniqueness-list {
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .a-h-uniqueness-item {
    width: 210px;
    height: 224px;
    flex-direction: column;
    gap: 16px;
  }

  .a-h-uniqueness-text-bold {
    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .a-h-uniqueness-text {
    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.a-h-how-container {
  margin: auto;
  width: 375px;
  padding: 80px 16px;
}
.a-h-how-list {
  padding-top: 56px;
}

.a-h-how-item {
  width: 270px;

  justify-content: space-between;

  border-radius: 8px;
}

.a-h-how-img {
  width: 270px;
}

.a-h-how-text-bold {
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  margin: 12px 24px 0px;
  padding-bottom: 16px;
  border-bottom: 1px solid #68ccf9;
}

.a-h-how-text {
  padding: 16px 29px 0;
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1203px) {
  .a-h-how-container {
    margin: auto;
    width: 1440px;
    padding: 80px 120px;
  }
  .a-h-how-list {
    padding-top: 56px;
  }

  .a-h-how-item {
    width: 300px;
    height: 572px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .a-h-how-img {
    width: 300px;
  }

  .a-h-how-text-bold {
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .a-h-how-text {
    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    padding: 16px 33px 12px;
  }
}

.a-h-characters-container {
  padding: 80px 21px;
  margin: auto;
  width: 375px;
}
.a-h-characters-list {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.a-h-characters-item {
  padding: 16px;
}
.a-h-characters-img {
  width: 48px;
  margin: auto;
}
.a-h-characters-text-bold {
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid;

  border-image-source: linear-gradient(
    90deg,
    #68ccf9 0%,
    #dd5ed6 50%,
    #68ccf9 100%
  );
  border-image-slice: 1;
  padding: 24px 0 16px;
}
.a-h-characters-text-bold span {
  color: #dd5ed6;
}
.a-h-characters-text {
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding-top: 16px;
}

@media screen and (min-width: 1203px) {
  .a-h-characters-container {
    padding: 80px 222px;
    margin: auto;
    width: 1440px;
  }
  .a-h-characters-list {
    flex-direction: row;
    gap: 32px;
  }
  .a-h-characters-item {
    width: 225px;
    height: 328px;

    padding: 16px;
  }
  .a-h-characters-img {
    width: 48px;
  }
  .a-h-characters-text-bold {
    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .a-h-characters-text {
    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.a-h-faq-container {
  padding: 80px 16px;
  width: 375px;
  margin: auto;
}
.a-h-faq-list {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.a-h-faq-item {
}

.a-h-faq-question {
  gap: 24px;
  display: flex;
  justify-content: space-between;
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  padding: 8px 12px;
  border-bottom: 1px solid #041e3f;
}

.a-h-faq-answer {
  padding: 0 12px;
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.a-h-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.a-h-toggle-button img {
  width: 24px;
  transition: transform 0.3s ease;
}
.a-h-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
}

.a-h-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.a-h-toggle-button img.rotated {
  transform: rotate(360deg);
}
@media screen and (min-width: 1203px) {
  .a-h-faq-container {
    padding: 80px 325px;
    width: 1440px;
    margin: auto;
  }
  .a-h-faq-list {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .a-h-faq-item {
  }

  .a-h-faq-question {
    gap: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .a-h-faq-answer {
    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.a-h-gallery-two {
  margin: auto;
  width: 375px;
  height: 279px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/finalpic.png");
}
.a-h-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 36px 32px;
}

.a-h-gallery-item {
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 24px;
  padding-top: 40x;
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  color: #e3ecfc;
  text-decoration: none;
}

.a-h-gallery-image {
  width: 32px;
}

@media screen and (min-width: 1203px) {
  .a-h-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 80px 0 32px;
  }

  .a-h-gallery-two {
    margin: auto;
    width: auto;
    height: 600px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .a-h-gallery-item {
    display: flex;
    align-items: center;

    justify-content: center;
    gap: 24px;
    padding-top: 40px;
    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    text-decoration: none;
  }

  .a-h-gallery-image {
    width: 32px;
  }
}

.a-h-features-container {
  width: 375px;
  margin: auto;
  padding: 80px 30px;
}

.a-h-features-list {
  padding-top: 56px;
}

.a-h-features-item {
}

.a-h-features-img {
  width: 260px;
  height: 560px;

  border-radius: 8px;
  margin: 0 8px;
}
.a-h-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1203px) {
  .a-h-gallery-button-container {
    display: flex;
  }

  .a-h-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }
  .a-h-gallery-button-icon {
    width: 72px;
  }
  .a-h-gallery-button:hover {
    scale: 120%;
  }

  .a-h-features-container {
    width: 1440px;
    margin: auto;
    padding: 80px 203px;
    position: relative;
  }
  .a-h-features-list-left {
    position: absolute;
    top: 428px;
    left: 120px;
  }
  .a-h-features-list-right {
    position: absolute;
    top: 428px;
    right: 120px;
  }
  .a-h-features-item {
  }

  .a-h-features-img {
    width: 260px;
    margin: 0 16px;
  }
}

.a-h-policy-terms-container {
  padding: 120px 16px 64px;
  width: 375px;
  margin: auto;
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.a-h-policy-terms-container h1 {
  margin-bottom: 64px;
  font-family: Space Grotesk;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  -webkit-background-clip: text;
}
.a-h-policy-terms-container h2 {
  margin: 16px 0 16px;
  font-family: Unbounded;
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.a-h-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
}

.a-h-policy-terms-container a {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1203px) {
  .a-h-policy-terms-container {
    padding: 176px 223px 80px;
    width: 1440px;

    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .a-h-policy-terms-container h1 {
    font-family: Space Grotesk;
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .a-h-policy-terms-container h2 {
    font-family: Space Grotesk;
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}

.a-h-footer-container {
  width: 375px;
  padding: 80px 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.a-h-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.a-h-footer-text {
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: -1%;
  text-align: center;

  color: inherit;
}

.a-h-footer-copyright {
  font-family: Space Grotesk;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: -1%;
  text-align: center;
}

.a-h-footer-copyright-two {
  display: none;
}
@media screen and (min-width: 1203px) {
  .a-h-footer-container {
    width: 1440px;
    padding: 80px 120px;
    display: flex;
    flex-direction: row;

    gap: 433px;
  }

  .a-h-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 69px;
  }

  .a-h-footer-text {
  }

  .a-h-footer-copyright {
  }

  .a-h-footer-copyright-two {
    display: block;
  }
  .a-h-footer-copyright-one {
    display: none;
  }
}
