@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #dfeafd;

  color: #100f20;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.a-g-header.is-open .a-g-header-background {
  left: 0;
}
.a-g-header-button-wrapper {
  margin-left: auto;
}
.a-g-header-icon {
  display: none;
}

.a-g-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.a-g-navigation-list.is-open {
  right: 0;
}
.a-g-header-icon-menu {
  display: block;
}

.a-g-header-icon-button.is-open .a-g-header-icon-menu {
  display: none;
}

.a-g-header-icon-button.is-open .a-g-header-icon-close {
  display: block;
}

.a-g-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;

  background: #dfeafd33;
}

.a-g-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #dfeafd;
}
.a-g-header.is-open .a-g-header-background {
  left: 0;
}
.a-g-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.a-g-header-icon-menu {
  display: block;
}

.a-g-header-icon-button.is-open .a-g-header-icon-menu {
  display: none;
}

.a-g-header-icon-button.is-open .a-g-header-icon-close {
  display: block;
}

.a-g-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.a-g-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 48px 0;

  gap: 25px;
  background: #dfeafd;
}

.a-g-navigation-list.is-open {
  right: 0;
}

.a-g-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #6b7a8c;
  font-family: Unbounded;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.a-g-navigation-link:hover,
.a-g-navigatioт-link:focus {
  color: #100f20;
}

.a-g-header.is-open {
  background-color: transparent;
}

.a-g-navigation-img {
  display: none;
}
.a-g-header-terms {
  background-color: transparent;
}
.a-g-header-terms-img {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Unbounded;
  font-weight: 300;
  font-style: Light;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  color: #100f20;
  text-decoration: none;
  padding-top: 20px;
}
@media screen and (min-width: 1202px) {
  .a-g-navigation-img {
    display: block;
    margin-right: 130px;
  }
  .a-g-header-terms-img {
    padding-top: 50px;
    padding-left: 120px;
  }
  .a-g-policy-terms-header-icon-menu {
    display: none;
  }
  .a-g-header-button-wrapper {
    display: none;
  }
  .a-g-header {
    width: 100%;
    height: 58px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: #dfeafd33;
  }

  .a-g-header-icon-button {
    display: none;
  }
  .a-g-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 0px;
    margin: auto;
  }

  .a-g-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 40px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .a-g-navigation-link {
    font-family: Unbounded;
    font-weight: 300;
    font-style: Light;
    font-size: 10px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .a-g-navigation-link:hover,
  .a-g-navigation-link:focus {
  }

  .a-g-navigation-item-desk {
    display: none;
  }
}

.a-g-home {
  width: 375px;
  height: 764px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/1\ home\ mob.png");
  margin: auto;
}
.a-g-home-container {
  width: 375px;
  padding: 104px 16px 0;
  margin: auto;
}

.a-g-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.a-g-home-title-img {
  font-family: Unbounded;
  font-weight: 900;
  font-style: Black;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #1360d0;
}
.a-g-home-title {
  font-family: Unbounded;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  background: linear-gradient(270deg, #1360d0 0%, #f43272 50%, #1360d0 100%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 32px 0 24px;
}

.a-g-home-text {
  font-family: Unbounded;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1202px) {
  .a-g-home {
    width: auto;
    height: 939px;
    background-image: url("/img/1.\ HOME.png");
  }
  .a-g-home-container {
    width: 1440px;
    padding: 96px 120px 0px;
  }

  .a-g-home-title-img {
    font-family: Unbounded;
    font-weight: 900;
    font-style: Black;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .a-g-home-title {
    font-family: Unbounded;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    margin: 24px;
  }

  .a-g-home-text {
    font-family: Unbounded;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}
.a-g-about {
  background: #cce2ff;
}

.a-g-about-title-divs {
  background: #a4c9f9;
}
.a-g-about-title {
  margin: auto;
  font-family: Unbounded;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #100f20;
  width: 375px;
  height: 120px;

  padding-top: 80px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;

  text-align: center;
}
.a-g-about-container {
  width: 375px;
  padding: 80px 21px;
  margin: auto;
}
.a-g-about-title-two {
  font-family: Unbounded;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  background: linear-gradient(
    270deg,
    #1360d0 0%,
    #f43272 25%,
    #f43272 50%,
    #1360d0 100%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.a-g-about-text {
  font-family: Unbounded;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding-top: 56px;
}

@media screen and (min-width: 1202px) {
  .a-g-about-title {
    font-family: Unbounded;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .a-g-about-container {
    width: 1440px;
    padding: 80px 223px;
    margin: auto;
  }
  .a-g-about-title-two {
    font-family: Unbounded;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .a-g-about-text {
    font-family: Unbounded;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 56px;
  }
}

.a-g-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 30px;
}
.a-g-why-list {
  padding-top: 56px;
}
.a-g-why-lists {
  display: none;
}
.a-g-why-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 408px;

  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  gap: 16px;
  border-radius: 8px;
  background: #cce2ff;

  margin: 0 8px;
}
.a-g-why-img {
  width: 248px;
  height: 186px;

  border-radius: 8px;
}
.a-g-why-text-bold {
  width: 100%;
  font-family: Unbounded;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  border-bottom: 1px solid #f43272;
  padding: 12px 0 16px;
}
.a-g-why-text {
  font-family: Unbounded;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1202px) {
  .a-g-why-container {
    width: 1440px;
    padding: 80px 124px;
  }
  .a-g-why-list {
    display: none;
  }
  .a-g-why-lists {
    padding-top: 56px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .a-g-why-item {
    width: 580px;
    height: 585px;

    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    gap: 16px;
    border-radius: 8px;

    margin: 0;
  }
  .a-g-why-img {
    width: 548px;
    height: 411px;

    border-radius: 8px;
  }
  .a-g-why-text-bold {
    font-family: Unbounded;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    padding: 12px 0 16px;
  }
  .a-g-why-text {
    font-family: Unbounded;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}
.a-g-uniqueness {
  background: #cce2ff;
}

.a-g-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 80px 21px;
}
.a-g-uniqueness-list {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.a-g-uniqueness-item {
  display: flex;
  align-items: center;
  background: #dfeafd;
  gap: 12px;
  padding: 24px 12px;
  border-radius: 12px;
}
.a-g-uniqueness-img {
  width: 80px;
}
.a-g-uniqueness-text-bold {
  font-family: Unbounded;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.a-g-uniqueness-text {
  font-family: Unbounded;
  font-weight: 300;
  font-style: Light;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 8px;
}

@media screen and (min-width: 1202px) {
  .a-g-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 80px 131px;
  }
  .a-g-uniqueness-list {
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .a-g-uniqueness-item {
    width: 210px;
    height: 274px;
    flex-direction: column;
    gap: 0px;
    padding: 12px;
    border-radius: 12px;
  }
  .a-g-uniqueness-img {
    width: 120px;
  }
  .a-g-uniqueness-text-bold {
    font-family: Unbounded;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    padding: 28px 0px 8px;
  }
  .a-g-uniqueness-text {
    font-family: Unbounded;
    font-weight: 300;
    font-style: Light;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.a-g-how-container {
  margin: auto;
  width: 375px;
  padding: 80px 32px;
}
.a-g-how-list {
  padding-top: 56px;
}

.a-g-how-item {
  background: #cce2ff;

  margin: 0 8px;
  border: 2px solid #1360d033;
  width: 280px;
  height: 486px;
  padding-top: 24px;
  padding-bottom: 24px;

  border-radius: 8px;
  border-width: 2px;
}

.a-g-how-img {
  margin: auto;
  height: 300px;
}

.a-g-how-text-bold {
  font-family: Unbounded;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  margin: 28px 24px 0px;
  padding-bottom: 16px;
  border-bottom: 1px solid #f43272;
}

.a-g-how-text {
  padding: 16px 24px 0;
  font-family: Unbounded;
  font-weight: 300;
  font-style: Light;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1202px) {
  .a-g-how-container {
    margin: auto;
    width: 1440px;
    padding: 80px 112px;
  }
  .a-g-how-list {
    padding-top: 56px;
  }

  .a-g-how-item {
    margin: 0 16px;
    width: 280px;
    height: 486px;

    padding-top: 24px;
    padding-bottom: 24px;
    gap: 16px;
    border-radius: 8px;
    border-width: 2px;
  }

  .a-g-how-img {
    margin: auto;
  }

  .a-g-how-text-bold {
    font-family: Unbounded;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .a-g-how-text {
    font-family: Unbounded;
    font-weight: 300;
    font-style: Light;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.a-g-characters-container {
  padding: 80px 21px;
  margin: auto;
  width: 375px;
}
.a-g-characters-list {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.a-g-characters-item {
  background: #a4c9f9;
  width: 333px;
  height: 621px;

  padding: 16px;
  border-radius: 8px;
}
.a-g-characters-img {
  width: 301px;
  height: 455px;

  border-radius: 8px;
}
.a-g-characters-text-bold {
  font-family: Unbounded;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  padding: 24px 0 16px;
  border-bottom: 1px solid #f43272;
}

.a-g-characters-text {
  font-family: Unbounded;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding-top: 16px;
}

@media screen and (min-width: 1202px) {
  .a-g-characters-container {
    padding: 80px 118px;
    margin: auto;
    width: 1440px;
  }
  .a-g-characters-list {
    flex-direction: row;
    gap: 32px;
  }
  .a-g-characters-item {
    width: 380px;
    height: 692px;

    padding: 16px;
    border-radius: 8px;
  }
  .a-g-characters-img {
    width: 348px;
    height: 526px;

    border-radius: 8px;
  }
  .a-g-characters-text-bold {
    font-family: Unbounded;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    padding: 24px 0 16px;
    margin: 0 32px;
  }

  .a-g-characters-text {
    margin: 0 32px;
  }
}

.a-g-reviews-container {
  margin: auto;
  padding: 80px 21px;
  width: 375px;
}
.a-g-reviews-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 56px;
}

.a-g-reviews-item {
  background: #cce2ff;

  border-radius: 8px;
  padding: 16px;
}

.a-g-reviews-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.a-g-reviews-img {
  height: 14px;
}
.a-g-reviews-text-bold {
  font-family: Unbounded;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  color: #1360d0;
}

.a-g-reviews-text {
  font-family: Unbounded;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 16px;
}

@media screen and (min-width: 1202px) {
  .a-g-reviews-container {
    margin: auto;
    padding: 80px 123px;
    width: 1440px;
  }
  .a-g-reviews-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-top: 56px;
  }

  .a-g-reviews-item {
    width: 213px;
    height: 258px;
    border-radius: 8px;
    padding: 16px;
  }

  .a-g-reviews-item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .a-g-reviews-text-bold {
    font-family: Unbounded;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .a-g-reviews-text {
    font-family: Unbounded;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.a-g-faq {
  background: #cce2ff;
}
.a-g-faq-container {
  padding: 80px 16px;
  width: 375px;
  margin: auto;
}
.a-g-faq-list {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.a-g-faq-item {
}

.a-g-faq-question {
  gap: 24px;
  display: flex;
  justify-content: space-between;
  font-family: Unbounded;
  font-weight: 300;
  font-style: Light;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  padding: 8px 12px;
  border-bottom: 1px solid #a4c9f9;
}

.a-g-faq-answer {
  padding: 0 12px;
  font-family: Unbounded;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.a-g-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.a-g-toggle-button img {
  width: 24px;
  transition: transform 0.3s ease;
}
.a-g-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
}

.a-g-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.a-g-toggle-button img.rotated {
  transform: rotate(360deg);
}
@media screen and (min-width: 1202px) {
  .a-g-faq-container {
    padding: 80px 325px;
    width: 1440px;
    margin: auto;
  }
  .a-g-faq-list {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .a-g-faq-item {
  }

  .a-g-faq-question {
    gap: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Unbounded;
    font-weight: 300;
    font-style: Light;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .a-g-faq-answer {
    font-family: Unbounded;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.a-g-gallery-two {
  margin: auto;
  width: 375px;
  height: 246px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/finalpic.png");
}
.a-g-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 36px 32px;
}

.a-g-gallery-item {
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 24px;
  padding-top: 40x;
  font-family: Unbounded;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  color: #100f20;
  text-decoration: none;
}

.a-g-gallery-image {
  width: 32px;
}

@media screen and (min-width: 1202px) {
  .a-g-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 80px 0 40px;
  }

  .a-g-gallery-two {
    margin: auto;
    width: auto;
    height: 512px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/finalpic\ \(1\).png");
  }

  .a-g-gallery-item {
    display: flex;
    align-items: center;

    justify-content: center;
    gap: 24px;
    padding-top: 40px;
    font-family: Unbounded;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    text-decoration: none;
  }

  .a-g-gallery-image {
    width: 32px;
  }
}

.a-g-features {
  background: #cce2ff;
}
.a-g-features-container {
  width: 375px;
  margin: auto;
  padding: 80px 21px 0;
}
.a-g-features-div {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 40px;
}
.a-g-features-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.a-g-features-item {
  gap: 12px;

  padding: 12px 0;
  display: flex;
  align-items: center;
}

.a-g-features-img {
  width: 20px;
}

.a-g-features-text-bold {
  font-family: Unbounded;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.a-g-features-text {
  font-family: Unbounded;
  font-weight: 300;
  font-style: Light;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 8px;
}
.a-g-features-imga {
  width: 375px;
  height: 219px;
  margin-left: -21px;
}

@media screen and (min-width: 1202px) {
  .a-g-features-container {
    width: 1440px;
    margin: auto;
    padding: 80px 190px 80px;
  }
  .a-g-features-imga {
    width: 642px;
    height: 377px;

    border-radius: 8px;

    margin-left: -0px;
  }

  .a-g-features-div {
    display: flex;
    flex-direction: row-reverse;

    justify-content: center;
    gap: 32px;
    padding-top: 56px;
  }
  .a-g-features-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .a-g-features-item {
    width: 385px;

    gap: 24px;
  }

  .a-g-features-img {
    width: 24px;
  }

  .a-g-features-text-bold {
    font-family: Unbounded;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .a-g-features-text {
    font-family: Unbounded;
    font-weight: 300;
    font-style: Light;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 8px;
  }
}

.a-g-policy-terms-container {
  padding: 120px 16px 64px;
  width: 375px;
  margin: auto;
  font-family: Unbounded;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.a-g-policy-terms-container h1 {
  margin-bottom: 64px;
  font-family: Unbounded;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(270deg, #1360d0 0%, #f43272 50%, #1360d0 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.a-g-policy-terms-container h2 {
  margin: 24px 0 16px;
  font-family: Unbounded;
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.a-g-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
}

.a-g-policy-terms-container a {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1202px) {
  .a-g-policy-terms-container {
    padding: 176px 223px 80px;
    width: 1440px;

    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .a-g-policy-terms-container h1 {
    font-family: Unbounded;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .a-g-policy-terms-container h2 {
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}

.a-g-footer-container {
  width: 375px;
  padding: 80px 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.a-g-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.a-g-footer-text {
  font-family: Unbounded;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: inherit;
}

.a-g-footer-copyright {
  font-family: Unbounded;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: -1%;
  text-align: center;
}

.a-g-footer-copyright-two {
  display: none;
}
@media screen and (min-width: 1202px) {
  .a-g-footer-container {
    width: 1440px;
    padding: 80px 120px;
    display: flex;
    flex-direction: row;

    gap: 428px;
  }

  .a-g-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 69px;
  }

  .a-g-footer-text {
    font-family: Unbounded;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .a-g-footer-copyright {
    font-family: Unbounded;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .a-g-footer-copyright-two {
    display: block;
  }
  .a-g-footer-copyright-one {
    display: none;
  }
}
